@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
  transition: color 0.1s linear, translate 0.3s linear,
    background-color 0.4s linear;
}

:root {
  --base: #188acc;
  --base-2: #0c7fc2;
  --dark-bg-2: #303030;
  --dark-bg-1: #171717;
  --dark-bg-3: #212121;
  --footer: #22223b;
  --user-bg: #514b61;
  --user-card-bg: #2c2638;
  --user-input-bg: #3c364c;
  --user-btn-bg: #6d54b5;
  --header-h: 4rem;
  --footer-h: 6rem;
}

@theme {
  --animate-successMsg: successMsg 1.75s linear;
  @keyframes successMsg {
    0% {
      border-bottom: 2px solid #e4ff1a;
    }
    100% {
      border-bottom: 2px solid #e4ff1a;
      width: 0;
    }
  }
  --animate-errorMsg: errorMsg 1.75s linear;
  @keyframes errorMsg {
    0% {
      border-bottom: 2px solid #e4ff1a;
    }
    100% {
      border-bottom: 2px solid #e4ff1a;
      width: 0;
    }
  }
}

#root {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  background-color: #e9ecef;
}

.dark {
  background-color: var(--dark-bg-1);
  color: white;
}

.dark #root {
  background-color: var(--dark-bg-1);
}

/* Navbar */
.nav-link {
  @apply inline-block font-semibold text-[var(--base)] hover:text-[var(--base-2)] border-b-2 border-transparent transition duration-400  hover:border-[var(--base)];
}

.nav-btns {
  @apply text-sm px-4 py-2 rounded-[2rem] hover:bg-white hover:text-black cursor-pointer;
}

.active {
  border-bottom: 2px solid var(--base);
}

/* User Login / SignUp Page*/
.user-input {
  @apply w-full px-3 py-3 bg-[var(--user-input-bg)] rounded-lg text-sm  focus:outline-[1.5px] focus:outline-white;
}

/* Form validation style  */

.user-input:valid:not(:placeholder-shown) {
  outline: 1.5px solid green;
}

.user-input:invalid:not(:placeholder-shown) {
  outline: 1.5px solid rgb(243, 84, 84);
}

.user-input + p,
.checkbox ~ p {
  display: none;
}
.user-input:invalid:not(:placeholder-shown) ~ p {
  color: rgb(243, 84, 84);
  display: block;
  font-size: 12px;
  margin: 0;
  position: absolute;
}

.checkbox:not(:checked) ~ p {
  color: rgb(243, 84, 84);
  display: block;
  font-size: 12px;
  margin: 0;
}

/* Profile page  */

.profile-section {
  @apply flex  gap-2 md:gap-4 p-4 md:p-8  w-[100vw-2rem] md:w-[70vw] text-[#14213d] dark:text-[#e5e5e5] bg-white dark:bg-[var(--dark-bg-3)] rounded-lg mx-4 md:mx-auto;
}
.profile-input {
  @apply px-4 py-2 border-1 border-[#e5e5e5] focus:outline-none focus:border-[#14213d] dark:border-[#4a4e69] dark:focus:border-[#e5e5e5] rounded-lg text-sm;
}

.profile-input[type="date"]::-webkit-calendar-picker-indicator {
  color: red;
}
